# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=fgzClNkCyLOlpdkQ3NI7T3BlbkFJrNIXUpSU0TZIvOOxteJw

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=080728e9f7a079045224fb99982fe6e6
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# For info on authorization callback URL visit here: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=cb5076cd898d0baf2116
AUTH_GITHUB_SECRET=6039760d78800424f22086a9b55236f041e37ccd
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:226820fc059d41a3b75a013c18499f36@champion-cardinal-39183.upstash.io:39183"
KV_REST_API_URL="https://champion-cardinal-39183.upstash.io"
KV_REST_API_TOKEN="AZkPASQgMTQwZjllOTEtODZkOC00OTRjLTgwMTktYjA2ZDBjYTllNjRjMjI2ODIwZmMwNTlkNDFhM2I3NWEwMTNjMTg0OTlmMzY="
KV_REST_API_READ_ONLY_TOKEN="ApkPASQgMTQwZjllOTEtODZkOC00OTRjLTgwMTktYjA2ZDBjYTllNjRj96aasslf0VW4hTFyLD6cQo5akzYS2qzIsDYRoeK8Xcs="
